.container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    width: 50%;
    background-color: white;
    border-radius: 6px;
    margin: 0 auto;
    margin-block-start: 15%;
}