.card {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
}

.card p {
  font-size: 20px;
  width: auto;
  display: flex;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: .5rem;
}

.review.text {
  display:block;
  flex-direction: row;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.stars{
    margin-inline-end: 1rem;
}

.reviewer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}