.img {
  position: relative;
  top:15rem;
  width: 80%;
  max-height: 30rem;
  margin: 0 auto;
  border-radius: 3px;
}

.btn {
  margin-block-start: 1rem;
  width: 100%;
  padding: 0.3rem;
  font-size: 1.5rem;
}

.upload button {
  padding: 1rem;
  height: 3rem;
}
