.container {
  width: 50%;
  margin: 0 auto;
  margin-top: 8rem;
}

.form{
  width: 100%;
}

.image {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 2px;
}

.text_input {
  font-size: 1.5rem;
  width: 100%;
  
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(30, 30, 30);
  padding-bottom: 0.4rem;
  padding-inline-start: 1rem;
  padding-block-start: 2rem;
  font-style: italic;
}

.input_label {
  display: flex;
  flex-direction: column;
}

.input_label label {
  padding-inline-start: 1rem;
}

.text_input:focus {
  border-color: green;
}

.container_btn {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;

}

.editsubmit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 36px;
  margin-right:10px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #f9627d;
  background-color: #f9627d;
  color:white;
}

.backtoprofile_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  height: 36px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #f9627d;
  background-color: #f9627d;
  color:white;
}