.container {
  position: relative;
  top: -2.4rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 8rem;
}

.svg{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.svg svg{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.form {
  width: 100%;
}

.image {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 2px;
}

.text_input {
  font-size: 1.5rem;
  width: 100%;

  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(30, 30, 30);
  padding-bottom: 0.4rem;
  padding-inline-start: 1rem;
  padding-block-start: 2rem;
  font-style: italic;
}

.input_label {
  display: flex;
  flex-direction: column;
}

.input_label label {
  padding-inline-start: 1rem;
}

.text_input:focus {
  border-color: green;
}

.container_btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.editsubmit_btn {
  padding: 0.6rem 1.2rem;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #f9627d;
  background-color:white;
  color: #f9627d;
  cursor: pointer;
}

.backtoprofile_btn {
  padding: 0.3rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #f9627d;
  background-color: white;
  color: #f9627d;
  cursor: pointer;
}

.editsubmit_btn:hover{
  background-color: #f9627d;
  color: white;
  box-shadow: 2px 2px 2px gray;
}

.backtoprofile_btn:hover{
  background-color: #f9627d;
  color: white;
  box-shadow: 2px 2px 2px gray;
}
