.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 3px;
  border: 1px solid grey;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.img_text {
  display: flex;
  flex-direction: row;
  margin-block-end: 1.5rem;
  align-items: center;
  justify-content: center;
}

.img_text p {
  flex-grow: 1;
  margin: 0.2rem 1rem;
  width: 50%;
}

.rating_date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rating_date p{
    margin: 0;
    font-size: 0.8rem;
}
