.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 221, 118);
  padding: 0.3rem;
  border-radius: 3px;
}

.avatar {
  width: 3rem;
  height: 3rem;
}

.img_text {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.img_text p {
  flex-grow: 1;
  margin: 0 1rem;
}

.rating_date {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
