.container {
  background-color: transparent;
  width: 50%;
  margin: auto auto;
  min-width: 30rem;
  max-height: 69%;
  margin-block-start: 12%;
  overflow: auto;
}

.btn_div {
  display: flex;
  justify-content: end;
}

.btn_div button {
  width: 9rem;
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
}

.btn {
  width: 10rem;
  height: 2rem;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 15px;
  border: 2px solid #333533;
  background-color: #333533;
  color:white;
  cursor: pointer;
}