.card {
  display: flex;
  justify-content:space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px auto;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 308px;
  height: 13px;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url(https://i.imgur.com/GnyDvKN.png);
}

.card p {
  color: rgb(30, 30, 30);
  flex-grow: 0.8;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.card div {
    margin: 1rem;
}

.card button {
    padding: 0.4rem 2rem;
    margin-top: 3px;
    width: 14px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}