.picker {
  width: 100%;
  text-align: center;

}

.button {
  width: 45%;
  height: 2rem;
  color:white;
  font-weight: bold;
  border: 1px solid #4267B2;
  background-color: #4267B2;
  padding-left: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: white;
  color:#4267B2;
  border-radius: 5px;
}

.image{
    width: 100%;
    object-fit: cover;
}