.picker {
  width: 100%;
}

.image_upload {
}

.image_preview {
}

.button {
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  color: rgb(60, 60, 60);
}

.image{
    width: 100%;
    object-fit: cover;
}