.header {
  height: 4rem;
  display: flex;
  padding: 0 9%;
  justify-content: space-between;
  background-color: rgb(255, 210, 127);
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.li {
  font-size: 1.2rem;
  list-style: none;
  margin: 0 1rem;
}

.navlinks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.a {
  padding: 0 1rem;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.848);
  text-decoration: none;
}

.active {
  color: rgb(0, 0, 0);
}

.dropbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-inline-end: 1rem;
}

.dropbtn p {
  margin: 0;
  padding: 23px;
  color: rgb(90, 90, 90);
}

.dropdown {
  /* position: relative;
  display: inline-block; */
}

.content {
  display: none;
  position: absolute;
  background-color: rgb(255, 210, 127);
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.content p {
  cursor: pointer;
  color: rgb(60, 60, 60);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.content p:hover {
  background-color: white;
}

.dropdown:hover .content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

.avatar {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
