.avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 2px;
}

.avatar_name {
  display: flex;
  align-items: center;
}

.name_id {
  margin-inline-start: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name_id p {
  font-size: 2rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.name_id span {
  font-size: 0.8rem;
  margin-block-end: 0.6rem;
  margin-block-start: 0.6rem;
  color: rgb(150,150,150);
}
