body {
  background-color: #FAFAFA;
}

.signup_main {
  display: flex;
  margin-top: 10px;
  margin-left: 40px;
}

.signup_logo {
  width: 175px;
  margin-top: 25px;
}

.signup_right_component {
  height: 380px;
  width: 350px;
  border: 1px solid #DBDBDB;
  margin-top: 25px;
  text-align: center;
  background: white;
}

.signup_signin {
margin-top: 25px;
}

.signup_text {
  width: 258px;
  height: 36px;
  margin: 5px;
  border: 1px solid #DBDBDB;
  background-color: #f3f3f4;
  padding-left: 10px;
  border-radius: 5px;
}

.signup_button {
  width: 270px;
  height: 36px;
  margin-top: 5px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #ffb3c1;
  background-color: #ffb3c1;
  color:white;
}