.section {
  width: 100%;
  min-width: 600px;
  max-width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
}

.newpostForm {
  width: 80%;
  margin: 0 auto;
}

.upload button{
  width: 80%;
  margin-block-start: 1rem;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 10%;
}

.inputContainer input {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #dbdbdb;
  background-color: #f3f3f4;
  padding: 1rem;
  border-radius: 3px;
}

.inputContainer textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #dbdbdb;
  background-color: #f3f3f4;
  padding: 1rem;
  border-radius: 3px;
}

.newpost_top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newpost_img {
  width: 16.25rem;
  height: 15.75rem;
}

.button {
  width: 100%;
  margin-top: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  border: 1px solid #f9627d;
  border-radius: 5px;
  background-color: white;
  color: #f9627d;
  cursor: pointer;
}

.button:hover{
  background-color: #f9627d;
  color:  white;
  box-shadow: 2px 2px 2px gray;
}