.section {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 6rem 0;
}

.preview {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  background-color: red;
  height: auto;
  width: auto;
}
.image {
  max-width: 100%;
  max-height: 100%;
}

.text_input {
  width: 16.125rem;
  height: 2.25rem;
  margin-bottom: 12px;
  border: 1px solid #dbdbdb;
  background-color: #f3f3f4;
  padding-left: 10px;
  border-radius: 5px;
}

.button {
  width: 5.625rem;
  height: 2.25rem;
  margin-top: 5px;
  font-weight: bold;
  border: 1px solid #f9627d;
  border-radius: 5px;
  background-color: #f9627d;
  color: white;
  margin-left: 21.5rem;
}

.newpost_top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
}

.newpost_text {
  margin-left: 8px;
  font-size: 30px;
}

.newpost_icon {
  height: 40px;
  width: 40px;
}

.newpost_img {
  width: 16.25rem;
  height: 15.75rem;
  margin-left: 1.25rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}