.div {
  width: 69%;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article {
  text-align: justify;
}

.article p {
  font-size: 1.2rem;
}

.post_info {
  width: 28%;
  padding-block-start: 3rem;
  height: 85vh;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.post_info::-webkit-scrollbar {
  display: none;
}

.buttons {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
}
