.map{
    margin-top: 3em;
    border-radius: 1rem;
    overflow: hidden;
}

.avatar{
    width: 8%;
    height: 5em;
    background-color: white;
    border-radius: 100%;
}

.article{
    margin-top: 10em;
}
.info{
    margin-top: 2em;
    margin-bottom: 3em;
}

.button {
    border: 2px solid #f9627d;
    background-color: white;
    color: #f9627d;
    padding: 0.2rem 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 13px;
    font-weight: 600;
    margin-top: 0.7rem;
  }
  
  .button.accept:hover {
    border-color: #007500;
    background-color:#007500;
    color: white;
  }

  .button.reject:hover {
    border-color: #cc0000;
    background-color:#cc0000;
    color: white;
  }
  
  .following {
    border-color: rgb(255, 111, 111);
    background-color: rgb(255, 111, 111);
    color: white;
  }
  