.map{
    margin-top: 3em;
    border-radius: 1rem;
    overflow: hidden;
}

.avatar{
    width: 8%;
    height: 5em;
    background-color: white;
    border-radius: 100%;
}

.article{
    margin-top: 10em;
}

.info{
    margin-top: 2em;
    margin-bottom: 3em;
}

.accept {
    background-color: #2ca02c;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: lightgrey  4px 4px 0 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .accept:hover {
    background-color: #7ED37E;
  }
  
  .accept:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .accept {
      min-width: 120px;
      padding: 0 25px;
    }
  }

  .reject {
    background-color: #da1e37;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: lightgrey 4px 4px 0 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .reject:hover {
    background-color: #EF8282;
  }
  
  .reject:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .reject {
      min-width: 120px;
      padding: 0 25px;
    }
  }

  .acceptRejectBtn {
    margin-top: 2rem;
  }
  
  .following {
    border-color: rgb(255, 111, 111);
    background-color: rgb(255, 111, 111);
    color: white;
  }
  