.col_select {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 3px;
  font-weight: bold;
  color: rgb(70, 70, 70);
} 

.col_select_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 36px;
  margin-top: 15px;
  margin-right:10px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #f9627d;
  background-color: #f9627d;
  color:white;
}

/* .col_select_container {
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  width: 170px;
  margin-top: -14px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-right: 4px;
} */
