.follow_btn {
  border: 1px solid rgb(255, 111, 111);
  background-color: white;
  color: rgb(255, 111, 111);
  padding: 0.3rem 0.9rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
}

.follow_btn:hover {
  border-color: rgb(255, 111, 111);
  background-color: rgb(255, 111, 111);
  color: white;
}

.following {
  border-color: rgb(255, 111, 111);
  background-color: rgb(255, 111, 111);
  color: white;
}
