.colcreate_btn {
  width: 80px;
  height: 36px;
  margin: 20px 15px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #6c757d;
  background-color: #6c757d;
  color:white;
}

.colinput {
  color: rgb(50, 50, 50);
  height: 32px;
  border-radius: 5px;
  width: 136px;
  border: 2.5px solid lightgrey;
}