.col_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  color: black;
  margin: 22px 3px;
  font-size: 1.5rem;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}

.col_container svg{
  right: 12%;
  position: absolute;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}